[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log
*.csp
*.DS_Store
*.msi
[Tt]humbs.db
_ReSharper.*
*.resharper
Ankh.NoLoad
Fragments/
[Dd]ebug*/
[Rr]elease*/
SingleImage/
Interm/
DVD-5/
!packages/repositories.config
.idea/
.*.sw?
*.diagsession
